#main-header {
    color: white;
    background-color: #003599;
    padding: 1vb;
    text-align: center;
}

.main-body {
    margin: 2vb;
}

form {
    border-bottom: double;
}

.form-label {
    font-size: 30px;
    font-weight: bold;
}

#citySearchBtn {
    width: 100%;
    margin-bottom: 2vb;
}

.sidebar,
.today-card-body {
    text-align: left;
}

.today-card-body {
    border: double;
    padding: 2vb;
}

#today-weather-header {
    font-weight: bold;
    margin-bottom: 3vb;
}

.forecast-main {
    text-align: left;
    padding: 1vb;
}

#forecast-header {
    font-weight: bold;
    padding-bottom: 1vb;
}

.forecast-card {
    background-color: #EEF4FF;
}

.searchHistory button {
    width: 100%;
    margin-top: 2vb;
    background-color: #B8B8B8;
    color: black;
}