#main-header {
    color: white;
    background-color: #4E18F5;
    padding: 1vb;
    text-align: center;
}

.main-body {
    margin: 2vb;
}

form {
    border-bottom: double;
}

.form-label {
    font-size: 30px;
    font-weight: bold;
}

#citySearchBtn {
    width: 100%;
    margin-bottom: 2vb;
}

.sidebar,
.today-card-body {
    text-align: left;
}

.today-card-body {
    border: double;
    padding: 2vb;
}